* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

/*NAVBAR*/

nav.navBar {
    background-color: #084E2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}

.navBar ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

.logoNavBar {
    font-size: 20px;
    text-decoration: none;
}

.navBar a:hover {
    color: #FF7BAC;
}

.active {
    color: #FF7BAC !important;
}

.CartWidget {
    width: 20px;
    right: 2rem;
}

.CantidadCarrito {
    position: absolute;
    background-color: #FF7BAC;
    color: white;
    padding: 5px;
    border-radius: 50px;
    font-weight: bolder;
    right: 15px;
    top: 5px;
    font-size: 10px;
}

/*ITEMLISTCONTAINER*/

.ItemListContainer h2 {
    color: #FF7BAC;
    margin-top: 100px;
}

/*CONTADOR*/

.countContainer {
    margin-top: 15px;
    padding: 20px;
    background-color:#084E2F;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    border: #FF7BAC 2px solid;
}

.countBtn {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 5px;
}

.countBtn button {
    border-radius: 10px;
    padding: 5px;
    width: 20px;
    border-width: 0px;
    color: #FF7BAC;
    background-color: none;
    font-size: 25px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.countContainer .addToCart {
    background-color: #084E2F;
    color: white;
    padding: 5px;
    cursor: pointer;
}

/*TIENDA*/

/*NAVTIENDA*/

.NavTienda {
    margin-top: 50px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.NavTienda a {
    background-color: none;
    border-width: 0px;
    color: #FF7BAC;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.NavTienda a:hover {
    color: #084E2F;
}

/*ItemListContainer*/


.ItemList {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    padding: 0px 10px;
    row-gap: 100px;
}

.ItemList img {
    width: 100%;
}

.ItemBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemBlock button {
    color: #FF7BAC;
    border-width: 0px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(-180deg);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.ItemBlock button:hover {
    transform: rotate(-90deg);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.ModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: black;
    opacity: .5;
    overflow: hidden;
}

.Modal {
    background-color: #084E2F;
    color: white;
    z-index: 10;
    width: 500px;
    height: 350px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: fixed;
    border-radius: 20px;
}

.Modal button {
    background-color: #084E2F;
    border-width: 0px;
    color: #FF7BAC;
    font-size: 20px;
    cursor: pointer;
}

/*FOOTER*/

.Footer {
    width: 100%;
    height: 500px;
    background-color: #FF7BAC;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0px;
}